<body>
    <h1>Tabla de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Correo electrónico</th>
                <th>Contraseña</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>juan.perez@gmail.com</td>
                <td>Adm1n2024!</td>
                <td>Administrador</td>
            </tr>
            <tr>
                <td>Laura Gómez</td>
                <td>laura.gomez@gmail.com</td>
                <td>Admin#2024</td>
                <td>Administrador</td>
            </tr>
            <tr>
                <td>Carlos Martínez</td>
                <td>carlos.martinez@gmail.com</td>
                <td>Adm!n2024$</td>
                <td>Administrador</td>
            </tr>
            <tr>
                <td>Ana López</td>
                <td>ana.lopez@gmail.com</td>
                <td>Usuario2024!</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Francisco Gómez</td>
                <td>francisco.gomez@gmail.com</td>
                <td>Us3rSimple2024!</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>María Fernández</td>
                <td>maria.fernandez@gmail.com</td>
                <td>U$u@r2024</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Valentina Ruiz</td>
                <td>valentina.ruiz@gmail.com</td>
                <td>P@ssUser2024</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Laura Castillo</td>
                <td>laura.castillo@gmail.com</td>
                <td>MyUser2024#Safe</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Pedro Morales</td>
                <td>pedro.morales@gmail.com</td>
                <td>Mod2024!</td>
                <td>Moderador</td>
            </tr>
            <tr>
                <td>Beatriz Silva</td>
                <td>beatriz.silva@gmail.com</td>
                <td>M0d3r@2024</td>
                <td>Moderador</td>
            </tr>
            <tr>
                <td>Jorge Ramírez</td>
                <td>jorge.ramirez@gmail.com</td>
                <td>M0d3r@t0r!</td>
                <td>Moderador</td>
            </tr>
            <tr>
                <td>Daniel Vargas</td>
                <td>daniel.vargas@gmail.com</td>
                <td>M0d3r@2024Access</td>
                <td>Moderador</td>
            </tr>
        </tbody>
    </table>
</body>