<body>
<h1>Tabla de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Auriculares Básicos</td>
                <td>Auriculares con cable y micrófono integrado, ideales para escuchar música o hacer llamadas</td>
                <td>$29,999 COP</td>
                <td>Electrónica</td>
            </tr>
            <tr>
                <td>Cargador Universal</td>
                <td>Cargador universal compatible con la mayoría de dispositivos electrónicos. Incluye varios adaptadores</td>
                <td>$39,999 COP</td>
                <td>Electrónica</td>
            </tr>
            <tr>
                <td>Reloj Digital</td>
                <td>Reloj digital con pantalla LED y función de alarma. Diseño simple y funcional</td>
                <td>$59,999 COP</td>
                <td>Electrónica</td>
            </tr>
            <tr>
                <td>Lámpara de Mesa LED</td>
                <td>Lámpara de mesa con iluminación LED ajustable, ideal para estudios y oficinas en casa</td>
                <td>$49,999 COP</td>
                <td>Hogar</td>
            </tr>
            <tr>
                <td>Juego de Toallas Básicas</td>
                <td>Juego de toallas de baño y mano de algodón, absorbentes y suaves al tacto</td>
                <td>$39,999 COP</td>
                <td>Hogar</td>
            </tr>
            <tr>
                <td>Cortinas Opacas</td>
                <td>Cortinas de tela opaca que bloquean la luz, ideales para dormitorios. Incluye ganchos para fácil instalación</td>
                <td>$79,999 COP</td>
                <td>Hogar</td>
            </tr>
            <tr>
                <td>Camiseta Básica</td>
                <td>Camiseta de algodón 100%, disponible en varios colores. Ideal para uso diario</td>
                <td>$29,999 COP</td>
                <td>Ropa</td>
            </tr>
            <tr>
                <td>Sudadera con Capucha</td>
                <td>Sudadera de felpa con capucha y bolsillo frontal. Perfecta para climas frescos</td>
                <td> $89,999 COP</td>
                <td>Ropa</td>
            </tr>
            <tr>
                <td>Pantalones de Chándal</td>
                <td>Pantalones de chándal cómodos y suaves, ideales para hacer ejercicio o estar en cas</td>
                <td>$59,999 COP</td>
                <td>Ropa</td>
            </tr>
        </tbody>
    </table>
</body>